<header class="main-header">
    <div class="container-fluid">
        <div class="row row-bg"></div>
        <div class="row row-details">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="media">
                            <div class="media-left">
                                <div class="avatar">
                                    <a href="{{ url('_an_blog_index') }}">
                                        <img class="img-responsive" src="{{ asset('bundles/anujnair/images/anujnair/Avatar.jpg') }}" />
                                    </a>
                                </div>
                            </div>
                            <div class="media-body">
                                <h1 class="media-heading">
                                    <a href="{{ url('_an_blog_index') }}">Anuj Nair</a>
                                </h1>
                                <p>
                                    <span class="icon-github"></span>
                                    <a href="{{ absolute_url('https://github.com/AnujRNair/') }}" target="_blank">GitHub</a>
                                </p>
                                <p>
                                    <span class="icon-linkedin"></span>
                                    <a href="{{ absolute_url('https://www.linkedin.com/in/anujrnair') }}" target="_blank">LinkedIn</a>
                                </p>
                                <p>
                                    <span class="icon-mail"></span>
                                    <a href="{{ url('_an_contact_index') }}">Contact Me</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <nav>
                            <ul class="nav nav-pills">
                                {% for section in nav.getSections %}
                                    <li{% if nav.isActive(section) %} class="active"{% endif %}>
                                        <a href="{{ url(section['route']) }}">
                                            {{ section['name'] }}
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>