<header>
    <a href="{{ url('_an_blog_index') }}">
        <img src="{{ asset('bundles/anujnair/images/anujnair/anuj-avatar.jpg') }}" />
    </a>

    <h1>
        <a href="{{ url('_an_blog_index') }}">Anuj Nair</a>
    </h1>
    <p>
        <a href="{{ absolute_url('https://github.com/AnujRNair/') }}" target="_blank">GitHub</a>
    </p>
    <p>
        <a href="{{ absolute_url('https://www.linkedin.com/in/anujrnair') }}" target="_blank">LinkedIn</a>
    </p>
    <p>
        <a href="{{ url('_an_about_index') }}">Contact Me</a>
    </p>
</header>

<nav>
    <ul>
        {% for section in nav.getSections %}
            <li{% if nav.isActive(section) %} class="active"{% endif %}>
                <a href="{{ url(section['route']) }}">
                    <span class="{{ section['icon'] }}"></span>
                    {{ section['name'] }}
                </a>
            </li>
        {% endfor %}
    </ul>
</nav>
