<header class="me">
    <a href="{{ url('_an_blog_index') }}" class="me__img" alt="Anuj Nair Header Portrait Image">
        <img src="{{ asset('bundles/anujnair/images/anujnair/anuj-avatar.jpg') }}" />
    </a>

    <div class="me__about">
        <h1>
            <a href="{{ url('_an_blog_index') }}">Anuj Nair</a>
        </h1>
        <p>
            <a href="{{ absolute_url('https://github.com/AnujRNair/') }}" class="icon icon-gh-full" target="_blank" rel="noopener noreferrer">GitHub</a>
        </p>
        <p>
            <a href="{{ absolute_url('https://www.linkedin.com/in/anujrnair') }}" class="icon icon-li" target="_blank" rel="noopener noreferrer">LinkedIn</a>
        </p>
        <p>
            <a href="{{ url('_an_about_index') }}" class="icon icon-mail">Contact Me</a>
        </p>
    </div>
</header>

<nav>
    <ul>
        {% for section in nav.getSections %}
            <li{% if nav.isActive(section) %} class="active"{% endif %}>
                <a href="{{ url(section['route']) }}" class="icon {{ section['icon'] }}">
                    {{ section['name'] }}
                </a>
            </li>
        {% endfor %}
    </ul>
</nav>
