<header class="main-header">
    <div class="container-fluid">
        <div class="row row-bg"></div>
        <div class="row row-details">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="media">
                            <div class="media-left">
                                <div class="avatar">
                                    <a href="{{ url('_an_blog_index') }}">
                                        <img class="img-responsive" src="{{ asset('bundles/anujnair/images/anujnair/Avatar.jpg') }}" />
                                    </a>
                                </div>
                            </div>
                            <div class="media-body">
                                <h2 class="media-heading">
                                    <a href="{{ url('_an_blog_index') }}">Anuj Nair</a>
                                </h2>
                                <p>
                                    <span class="icon-github"></span>
                                    <a href="{{ absolute_url('https://github.com/AnujRNair/') }}" target="_blank">GitHub</a>
                                </p>
                                <p>
                                    <span class="icon-linkedin"></span>
                                    <a href="{{ absolute_url('https://www.linkedin.com/in/anujrnair') }}" target="_blank">LinkedIn</a>
                                </p>
                                <p>
                                    <span class="icon-mail"></span>
                                    <a href="{{ absolute_url('mailto:admin@anujnair.com') }}">Contact Me</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <nav>
                            <ul class="nav nav-pills">
                                <li class="active">
                                    <a href="{{ url('_an_blog_index') }}">Blog</a>
                                </li>
                                <li>
                                    <a href="#">Portfolio</a>
                                </li>
                                <li>
                                    <a href="#">About Me</a>
                                </li>
                                <li>
                                    <a href="#">Contact Me</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>