<article class="blog-article{% if mini %} mini{% endif %}" itemscope itemtype="http://schema.org/Article">
    <h1 class="title-header" itemprop="name">
        {% if mini %}
            <a href="{{ path('_an_blog_article', {id: blog.getId, title:blog.getUrlSafeTitle}) }}">
        {% endif %}
            {{ blog.getTitle }}
        {% if mini %}
            </a>
        {% endif %}
    </h1>
    <h3 class="metadata">
        <span class="icon-clock"></span>
        Posted by {{ blog.getUser.getFirstName ~ ' ' ~ blog.getUser.getLastName }}
        on
        <time datetime="{{ blog.getDatePublished|date('Y-m-d H:i:s') }}">{{ blog.getDatePublished|date('jS M, Y') }}</time>
    </h3>
    <h3 class="metadata">
        <span class="icon-comment"></span>
        <a href="{{ path('_an_blog_article', {id: blog.getId, title:blog.getUrlSafeTitle}) }}#comments">
            {% set visibleCommentCount = blog.countVisibleComments %}
            {% if visibleCommentCount == 0 %}
                Comments
            {% elseif visibleCommentCount == 1 %}
                {{ visibleCommentCount }} Comment
            {% else %}
                {{ visibleCommentCount }} Comments
            {% endif %}
        </a>
    </h3>
    {% if blog.getTags|length > 0 %}
        <h3 class="metadata">
            <span class="icon-tags"></span>
            Tags:
            {% for tag in blog.getTags %}
                <a href="{{ path('_an_blog_tag', {tagId: tag.getId, name: tag.getUrlSafeName}) }}" class="tag">{{ tag.getName }}</a>
            {% endfor %}
        </h3>
    {% endif %}
    {% if mini == false %}
        <h3 class="metadata">
            <span class="icon-right-open"></span>
            <a href="{{ url('_an_blog_index') }}">Blog</a> &gt;&gt;
            {{ blog.getTitle }}
        </h3>
    {% endif %}
    <div class="blog-contents" itemprop="description">
        {% if mini %}
            {{ blog.abstract|raw }}
        {% else %}
            {{ blog.contents|raw }}
        {% endif %}
    </div>
    {% if mini %}
        <a href="{{ path('_an_blog_article', {id: blog.getId, title:blog.getUrlSafeTitle}) }}" class="more">Read More</a>
    {% endif %}
</article>

{% if mini == false %}
    <div id="comments" class="blog-comment">
        <h2 class="title-header">Comments</h2>
        {% for comment in blog.getVisibleComments %}
            {% include 'AnujNairBundle:Blog/Component:comment.html.twig' with {comment: comment} %}
        {% endfor %}
        {% if blog.hasComments %}
            {% include 'AnujNairBundle:Blog/Component:postComment.html.twig' %}
        {% else %}
            <div class="closed-comment">Comments have been closed for this post</div>
        {% endif %}
    </div>
{% endif %}