<!DOCTYPE html>
<html {%if app.request.locale is defined%}lang="{{ app.request.locale }}"{% endif %}>
    <head itemscope itemtype="http://schema.org/WebSite">
        {% block metaTags %}
            <meta charset="utf-8">
            <meta name="description" content="{% spaceless %}{% block htmlDescription %}{% endblock %}{% endspaceless %}">
            <meta name="keywords" content="{% spaceless %}{% block htmlKeywords %}{% endblock %}{% endspaceless %}">
            <meta name="viewport" content="width=device-width, initial-scale=1">

            <meta property="og:title" itemprop="name" content="{{ block('htmlTitle') }}">
            <meta property="og:description" itemprop="description" content="{{ block('htmlDescription') }}">
            <meta property="og:url" content="{{ app.request.uri }}">
            <meta property="og:type" content="website">
            <meta property="og:image" itemprop="image" content="{{ asset('bundles/anujnair/images/anujnair/anuj-avatar.jpg') }}" />
        {% endblock %}

        <title>{% spaceless %}{% block htmlTitle %}{% endblock %}{% endspaceless %}</title>

        <link rel="apple-touch-icon" href="{{ asset('apple-touch-icon.png') }}">
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
        <link rel="canonical" href="https://anujnair.com" itemprop="url">
        <link rel="author" href="https://plus.google.com/+AnujNair89/posts" />
        <link rel="publisher" href="https://plus.google.com/+AnujNair89" />

        {% if app.environment == 'prod' %}
            <!-- needs hash -->
            <link type="text/css" rel="stylesheet" href="bundles/webpack/{{ app.request.attributes.get("_route") }}.css"/>

            <!-- manifest -->
        {% endif %}
    </head>
    <body class="grid grid__body">
        {% block body %}
        {% endblock %}

        {% if app.environment == 'prod' %}
            <!-- vendor -->
            <!-- page -->
        {% else %}
            <!-- webpack dev server for page -->
            <script src="http://127.0.0.1:3010/assets/{{ app.request.attributes.get("webpack") }}.bundle.js"></script>
        {% endif %}
    </body>
</html>
