<!DOCTYPE html>
<html {%if app.request.locale is defined%}lang="{{ app.request.locale }}"{% endif %}>
    <head itemscope itemtype="http://schema.org/WebSite">
        {% block metaTags %}
            <meta charset="utf-8">
            <meta name="description" content="{% spaceless %}{% block htmlDescription %}{% endblock %}{% endspaceless %}">
            <meta name="keywords" content="{% spaceless %}{% block htmlKeywords %}{% endblock %}{% endspaceless %}">
            <meta name="viewport" content="width=device-width, initial-scale=1">

            <meta property="og:title" itemprop="name" content="{{ block('htmlTitle') }}">
            <meta property="og:description" itemprop="description" content="{{ block('htmlDescription') }}">
            <meta property="og:url" content="{{ app.request.uri }}">
            <meta property="og:type" content="website">
            <meta property="og:image" itemprop="image" content="{{ asset('bundles/anujnair/images/anujnair/anuj-avatar.jpg') }}" />
        {% endblock %}

        <title>{% spaceless %}{% block htmlTitle %}{% endblock %}{% endspaceless %}</title>

        <link rel="apple-touch-icon" href="{{ asset('apple-touch-icon.png') }}">
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
        <link rel="canonical" href="{{ url(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}" itemprop="url">

        {% if app.environment == 'prod' %}
            <script async src="https://www.googletagmanager.com/gtag/js?id=UA-16216873-1"></script>
            <script>
                window.dataLayer = window.dataLayer || [];
                function gtag(){ dataLayer.push(arguments); }
                gtag('js', new Date());
                gtag('config', 'UA-16216873-1');
            </script>

            {% if error is defined %}
                {% for css in error_css %}
                    <link type="text/css" rel="stylesheet" href="{{ css }}"/>
                {% endfor %}
            {% else %}
                {% for css in asset_css %}
                    <link type="text/css" rel="stylesheet" href="{{ css }}"/>
                {% endfor %}
            {% endif %}
        {% endif %}
    </head>
    <body class="grid__body">
        {% block body %}
        {% endblock %}

        {% if json is defined %}
            <script type="application/javascript">
                window.reactProps = {{ json|raw }};
            </script>
        {% endif %}

        {% if app.environment == 'prod' %}
            {% if error is defined %}
                {% for js in error_js %}
                    <script src="{{ js }}"></script>
                {% endfor %}
            {% else %}
                {% for js in asset_js %}
                    <script src="{{ js }}"></script>
                {% endfor %}
            {% endif %}
        {% else %}
            {% if error is defined %}
                <script src="http://127.0.0.1:3010/assets/error.bundle.js"></script>
            {% else %}
                <!-- webpack dev server for page -->
                <script src="http://127.0.0.1:3010/assets/{{ app.request.attributes.get("webpack")|default('error') }}.bundle.js"></script>
            {% endif %}
        {% endif %}
    </body>
</html>
